@import "tailwindcss";
@import "react-toastify/dist/ReactToastify.css";

:root {
  --background: #F8F6FF;
  --foreground: #03050A;
  --muted: #808080;
  --muted-foreground: #808080;
  --ring: #01B28B;
  --accent: #B7C9E2;
  --accent-foreground: #03050A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-ring: var(--ring);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #08091A;
}

::-webkit-scrollbar-thumb {
  background: #3C54CC;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4763F0;
}
